
body {
       
    font-family: BatmanForeverAlternate, sans-serif;
    font-weight: 200;
    font-style: normal;
    max-width: 100%;
    height: auto;
 
}

.footer {
    display: flex;
    justify-content: center;
    width: 100%;
    background: #111;
    color: #fff;
    padding: 2rem 0;
    line-height: 2.5;
    text-transform: uppercase;
    margin-top: 600px;
    letter-spacing: 70px;
    padding-left: 30px;
    
}




/* baggrundsfarver */

#background {

background-image: linear-gradient(white, black);

}

.background-photoshop{
    
    
background-image: linear-gradient(white,#104848);
    
}

.background-action{
    
    
background-image: linear-gradient(white,#104848);
    
}

.background-illustrator{
    
    
background-image: linear-gradient(white,#104848);
    
}


.background-xd{
    
    
background-image: linear-gradient(white,#104848);
    
}


/* baggrundsfarver-slut */  


.logo {
    width: 100%;
    height: auto;
    margin-top: 150px;

}


#pagewrap {

    text-align: center;
    margin-left: 10px;
    margin-right: 1px;  

}


.dropdown-menu {
    background: none;
    text-align: center;
  
    
}

.dropdown-menu a {
    color: black;
   
}

.dropdown-text-white {
    color: black;
    font-weight: bold;
    font-size: 17px;
    
    
}

.navbar-toggler .line{
    width: 30px;
    height: 3px;
    border-radius: 3px;
    display: block;
    margin-top: 5px;
    background-color: #C7000A;

}

    
} /* Dette er for at lave nye linjer som kan laves helt hvide */

.navbar button {
    border: none;
} /* Dette er for at den grå border omkring burgermenuen ikke er der */

.navbar button {
      border: none;
      outline: none;
    } /* Dette er for at fjerne den border/outline som kommer frem når man trykker på burger menuen */


.navbar{
    
    margin-left: 10px;
    margin-bottom: 10px;
    color: #C7000A;
    
   
}
    

h1{
    
    max-width: 100%;
    font-size: 35px;
    letter-spacing: 25px;
    color: white;
    margin-left: 20px;
    margin-top: 150px;


   background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color:  transparent;
  

}



@media only screen and (min-width: 600px){
    
    h1{
    
    max-width: 100%;
    font-size: 35px;
    letter-spacing: 25px;
    color: white;
    margin-left: -20px;
    margin-top: 100px;
  

}
 

    .logo {

        max-width: 100%;
        margin-top: 100px;
        margin-left: -70px;
                }
    
    
    .navbar {
        
        margin-bottom: 20px;
    }
    
    
    #pagewrap{

    margin-left: 90px;
        
    }
  
    
}



@media only screen and (min-width: 768px){
    
    
        .logo {

        max-width: 80%;
            
                }
    
    
    
    
    .navbar .navbar-nav {
        
        margin-left: 40px;
    }
    
    
    .navbar{
        
        margin-bottom: 10px;
    }
    

       h1{
        width:100%;
        letter-spacing:30px;
        margin-left:2px;
        color:white;
        margin-bottom: 100px;

           
    }

}



@media only screen and (min-width: 992px){

/* Menuen */
    
    .navbar-nav {

margin-left: 10%;        
        

}

    .navbar {
        
        margin-bottom: 50px;
        
    }    
    
        
    
    .navbar .navbar-nav {
        
        margin-left: 150px;
    }
    
    
 /* Indholdet */
    
    
    h1{
        
        margin-top: 100px;
        letter-spacing: 70px;
    }
    
       .logo {

        max-width: 60%;
            
                }
    

}
    

    
    
@media only screen and (min-width: 1200px){
    
    .dropdown-text-white {
        
        margin-right: 10px;
    }
    
    .navbar {
        
        margin-bottom: 0px;
    }
    
    
       
    .navbar .navbar-nav {
        
        margin-left: 250px;
    }
    
    
    
    
     h1{
        width:100%;
        letter-spacing: 70px;
        margin-left: 28px; 
        margin-top: 50px; 
        
         
    }
    
    .logo {

        max-width: 60%;
        margin-top: 100px;
    
    }


    
        
.navbar-nav {
            
            
margin-left: 17%;

  
}
  

    
    
}

  

.navbar-brand {
    
 color: #C7000A;
    
}

.navbar-brand a:hover{
    
 color: black;
    
    
}



.dropdown-menu a:hover{
    
    background-color: white;
    transition: 2s; 
}


