

html{
    
    min-height: 100%;

}

.hovedsideoverflow{
    
    overflow-y: hidden;
}



body {
       
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-style:normal;
    max-width: 100%;
    height: auto;
    color: black;
 
}



#undermenuphotoshop ul{

display: flex;
flex-direction: row;
flex-wrap: wrap; 
justify-content: center;    
   
} 

#undermenuphotoshop{
    
height: 50px;

}



#margin{

margin: 1em;

}


{
        
  text-align: center;  
    
}


/*TEXT - ALIGN */


.title{
    
    text-align: center;
    font-family: serif
}


.bodytext{
    
  font-family: 'Lato', sans-serif;
}

.underover{

font-family: 'Lato', sans-serif;
font-size: 25px;     
    
}


.underover2{

font-family: 'Lato', sans-serif;

}

#pagewrapempiri{
    
    text-align: center;
    
}



#pagewraptypografi{
    
    text-align: center; 
    
}

#pagewrapfotografi{

 text-align: center; 

}


#pagewrapkommunikation{
    
    text-align: center;
}


#pagewrapdt{

text-align: center;
    
}


#pagewrapcss{

text-align: center;
    
}


#pagewrapresponsive{
    
     text-align: center;
}

#pagewrapgestalt{
    
     text-align: center;
}

#pagewrapinternet{
    
    text-align: center;
    
}

#pagewrapfarve{
    
      text-align: center;
    
}

#pagewraphtml{
    
    text-align: center;
    
}

#pagewrapusability{

text-align: center;
    
}

#pagewrapteknik{
    
text-align: center;
    
}

#pagewrapfotografering{
    
 text-align: center;   
    
}

#pagewraptekstphotoshop{
    
 text-align: center;   
    
}
  
#pagewraptekstillustrator{
    
 text-align: center;   
    
}

#margin{
    
 text-align: center;   
    
}

#pagewraptekstproduktion{
    
text-align: center;    
    
}

#pagewrapophavsret{
    
text-align: center;     
    
}

#pagewrapbmc{
    
text-align: center;
    
}

#pagewrapversion{
    
text-align: center;    
    
}


#pagewrapteksthackathon{
    
text-align: center;

}

#pagewraptekstpage{
    
 text-align: center;
    
}

#pagewraptekstportfolio{
    
 text-align: center;
    
}



/*TEXT - ALIGN SLUTTER */


/*BMC*/

.bmc img{

    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;


}


#bmcmodel{

text-align: center;

}


/*BMC SLUTTER HER*/



/* IMG FIXED */


.informationsarkitektur img {
    
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
}

.gestaltloven img{
    
    max-width: 40%;
    margin-right: auto;
    margin-left: auto;
    display: flex;  
    
}


.photoshop img{

    max-width:100%;
    margin-right: auto;
    margin-left: auto;
    display: flex; 

}


.one-page img{


max-width:100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;

}


.tekst-produktion img{

    max-width:100%;
    margin-right: auto;
    margin-left: auto;
    display: flex; 


}


.css-html img{

    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;  


}


.fn-verdensmal img{
    
   max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;   
    
    
}

.fn-verdensmal iframe{
    
   max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;   
    
    
}

.grundlaeggendekommunikation img{
    
    
  max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;  
    
}



.designthinking img{

    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex; 

}

.htmlside img{

    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex; 

}



.farver img{
    
  max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;    
    
}

.typografi img{

max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;


}


.usability img{

    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;


}

.background-photoshop img {
    
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
}


.praesentationsteknik img{

    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
}


.workshop img{

max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;

}


.responsivedesign img{

    max-width: 50%;
    margin-right: auto;
    margin-left: auto;
    display: flex;


}

.grundlaeggendekommunikation img{

    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;

}


.kvantitativogkvalitativempiri img{
    
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex; 
    
    
}

.ophavsret img{
    
    
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;  
    
    
}


/* IMG FIXED */

#hovedsidetitlen{
    
    font-family:BatmanForeverAlternate ;
}


.navbar {
    
     font-family: serif;
   
    
}

/* UNDERMENU */


#undermenuphotoshop{
    
    
    font-family: serif;
    text-align: center;
  
}


#undermenuphotoshop ul{
    
    max-width: 100%;
    
    
}


#undermenuphotoshop{
    
    text-align: center;
    max-width: 60%;
    
}



#undermenuphotoshop ul{

list-style: none;
display: inline-flex;
margin-top: 13px;

    
}

#undermenuphotoshop ul li{
    
margin-right: 50px;

}


#undermenuphotoshop{
    
text-align: center;
background-color: #A8A9AD;
max-width: 100%;
margin-left: auto;
margin-right: auto;
display: none;
max-height: auto;
 
}

#undermenuphotoshop ul li a{
    
 color: black;
text-decoration: none;
    
    
}


/* UNDERMENU SLUTTER */






/*FOOTER*/






footer{
background-color: black;
height: auto;
font-family: BatmanForeverAlternate;

    
}


#logofooter{
    
    grid-area: logo;
    margin-left: -12px;
    margin-right: -20px;
    
    
}


footer{
    
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-areas: 
    "logo navn";
    text-align: center;
 
}

#navn{


color: white;
margin-top: 17px;
text-align: right;
margin-right: 15px;    



}

footer{
    
   
  max-width:100%;
    
}


footer img{
    
    width: 100px;
    margin-top: 2px;
 
    
}


footer{
    
    background-color: black;
    height: 60px;
    font-family: BatmanForeverAlternate;
    
}


/*FOOTER SLUT*/





/* baggrundsfarver */

#background {

background-image: linear-gradient(white, black);

}

.background-photoshop{
    
    
background-image: white;
    
}


.background-action{
    
    
background-image: white;
    
}

.tekst-produktion{

background-image: linear-gradient(white, #A8A9AD);

}

.gestaltloven{


background-image: linear-gradient(white, #A8A9AD);

}

.designthinking{


background-image: linear-gradient(white, #A8A9AD)

}

.fn-verdensmal{


background-image: linear-gradient(white, #A8A9AD)

}

.ophavsret{

background-image: linear-gradient(white, d#A8A9AD);

}

.photoshop{
    
background-image: linear-gradient(white, #A8A9AD);    
    
}

.one-page{
    
 background-image: linear-gradient(white, #A8A9AD);   
    
}

.fotografi{


background-image: linear-gradient(white, #A8A9AD);

}

.illustrator{
    
    
  background-image: linear-gradient(white, #A8A9AD);  
    
}

.workshop{

 background-image: linear-gradient(white, #A8A9AD);  

}

.portfolio-refleksioner{

background-image: linear-gradient(white, #A8A9AD);


}

.internet{
    
background-image: linear-gradient(white, #A8A9AD);

}

.css-html{
    
background-image: linear-gradient(white, #A8A9AD);

}


.usability{
    
background-image: linear-gradient(white, #A8A9AD);

}

.farver{
    
background-image: linear-gradient(white, #A8A9AD);

}

.typografi{
    
background-image: linear-gradient(white, #A8A9AD);

}



.htmlside{
    
background-image: linear-gradient(white, #A8A9AD);

}



.grundlaeggendekommunikation{
    
    
background-image: linear-gradient(white, #A8A9AD);    
    
}

.internet{
    
    background-image: linear-gradient(white, #A8A9AD);
}


.bmc{


background-image: linear-gradient(white, #A8A9AD);

}


.kvantitativogkvalitativempiri{


background-image: linear-gradient(white, #A8A9AD);

}

.praesentationsteknik{


background-image: linear-gradient(white, #A8A9AD);

}

.background-illustrator{
    
    
background-image: linear-gradient(white, #A8A9AD);
    
}


.responsivedesign{


background-image: linear-gradient(white, #A8A9AD);

}



.bmc{
    
    background-color: white;

    
}



.informationsarkitektur{
    
    
background-image: linear-gradient(white, #A8A9AD);
    
    
}



/* BAGGRUNDSFARVE SLUT */  


.logo {
    
    width: 100%;
    height: auto;
    margin-top: 150px;

}


#pagewrap {

    text-align: center;
    margin-left: 10px;
    margin-right: 1px;  

}


.dropdown-menu {
    background: none;
    text-align: center;
  
    
}

.dropdown-menu a {
    color: black;
   
}

.dropdown-text-white {
    color: black;
    font-weight: bold;
    font-size: 17px;
    
    
}

.navbar-toggler .line{
    width: 30px;
    height: 3px;
    border-radius: 3px;
    display: block;
    margin-top: 5px;
    background-color: #C7000A;
    

}


    
} /* Dette er for at lave nye linjer som kan laves helt hvide */

.navbar button {
    border: none;
} /* Dette er for at den grå border omkring burgermenuen ikke er der */

.navbar button {
      border: none;
      outline: none;
} /* Dette er for at fjerne den border/outline som kommer frem når man trykker på burger menuen */


.navbar{
    
    margin-left: 10px;
    margin-bottom: 10px;
    color: #C7000A;
    
   
}
    

#hovedsidetitlen{
    
    max-width: 100%;
    font-size: 35px;
    letter-spacing: 25px;
    color: white;
    margin-left: 20px;
    margin-top: 150px;


   background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color:  transparent;
  

}

/* 600px */

@media only screen and (min-width: 600px){
    
#hovedsidetitlen{
    
    max-width: 100%;
    font-size: 35px;
    letter-spacing: 25px;
    color: white;
    margin-left: -20px;
    margin-top: 100px;
  

}

 .logo {

        max-width: 100%;
        margin-top: 100px;
        margin-left: -70px;
        }
    
    
.navbar {
        
        margin-bottom: 20px;
    }
    
    
#pagewrap{

    margin-left: 90px;
        
    }
    
}

/* 600px SLUTTER */

@media only screen and (max-width: 600px){


    #hovedsidetitlen{

    
    
    font-size: 18px;
    margin-top: 250px;    
    
    }
    
    
    .logo{

    
     margin-top: 200px;
    
    }
    
    #background{

    min-height: 850px;
    
    
    }


}
    

/* 768px */

@media only screen and (min-width: 768px){
    
    
    
    #undermenuphotoshop{

        
        display: block;
        font-size: 12px;
        
}

        .logo {

        max-width: 150%;
        margin-top: 200px;    
            
            
                }
 
    .navbar{
        
        margin-bottom: 10px;
        
    }
 
       #hovedsidetitlen{
        width:100%;
        letter-spacing:40px;
        margin-left:2px;
        color:white;
        margin-bottom: 100px;
     
    }
  
#undermenuphotoshop ul{

margin-top: 6px;

}
    
    
 
#hovedsidetitlen{
        
        margin-top: 250px;
        letter-spacing:50px;
        margin-left: -22px;
    
    }    

}

/* 768px SLUTTER */





/* 992x */

@media only screen and (min-width: 992px){

/* Menuen */
    
    .navbar-nav{

        margin-left: 20%;

      
        }
    

    .navbar {
        
        margin-bottom: 2px;
    
        
    }  
    
    .navbar-brand{

    margin-top: -25px;
    
    }
    
   
    
    .navbar .navbar-nav{
        
        margin-left: 25px;
        letter-spacing: 1px;

    }
    
    
#undermenuphotoshop{

margin-top: 30px;
font-size: 12px;    


} 
    
    
 /* Indholdet */
    
    
    #hovedsidetitlen{
        
        margin-top: 300px;
        letter-spacing:70px;
    }
    
       .logo {

        max-width: 100%;
            
                }
   
    
    .dropdown:hover #undermenuphotoshop{
        
        margin-bottom: 50px;
        position: relative;
        
        
    }
  

    
.dropdown-menu {
        
        background-color: darkgray;
    }
    
    
    #undermenuphotoshop ul{

margin-top: 10px;
vertical-align: middle;         

}


}
/* Indholdet SLUTTER */



/* 992px SLUTTER */



/* 1200px */
  
    
@media only screen and (min-width: 1200px){
    
    .dropdown-text-white {
        
        margin-right: 10px;
    }
    
    .navbar {
        
        margin-bottom: -15px;
    }
    
    
        .navbar-brand{

    margin-top: 1px;
    
    }
    

    .navbar .navbar-nav {
        
        margin-left: 50px;
         
        letter-spacing: 1px;
         
    }
    
  
  #undermenuphotoshop ul{

margin-top: 15px;
vertical-align: middle;         

}
  
    
    
#undermenuphotoshop{

margin-top: 40px;
font-size: 14px;    

} 

     #hovedsidetitlen{
        width:100%;
        letter-spacing: 70px;
        margin-left: 28px; 
        margin-top: 50px; 
        
         
    }
    
    .logo {

        max-width: 60%;
        margin-top: 100px;
    
    }
     
.navbar-nav{
            
            
margin-left: 17%;
  
}

}

/* 1200px SLUTTER */

  

.navbar-brand{
    
 color: #C7000A;
font-family:BatmanForeverAlternate;    

 
    
}

.navbar-brand:hover{
    
 color: black;
    
   background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color:  transparent;
    
}



.dropdown-menu a:hover{
    
    background-color: white;
    transition: 4s; 
}

#undermenuphotoshop:hover{
    
    background-color: gray;
    transition: 2s; 
}


/* PAGEWRAP */

#pagewrapdt {

margin: 1em;

}

#pagewrapfarve{

margin: 1em;
    
}

#pagewraphtml{

margin: 1em;
}

#pagewrapusability{

margin: 1em;
}

#pagewraptypografi{

margin: 1em;    

}

#pagewrapbmc{

margin: 1em;
}

#pagewrapteknik{

margin: 1em;
}

#pagewraprespons{
    
margin: 1em;    

}


#pagewrapkommunikation{
    
margin: 1em;    

}

#pagewrapempiri{
    
margin: 1em;    
    
}

#pagewrapgestalt{

margin: 1em;

}

#pagewrapinternet{
    
margin: 1em;        
    
}

#pagewrapfotografering{
    
margin: 1em;    
}

#pagewrapcss{
    
margin: 1em;    
}


#pagewrapresponsive{
margin: 1em;


}

#pagewrapversion{
    
 margin: 1em;   
    
}

#pagewraptekstillustrator{

 margin: 1em;

}

#pagewraptekstphotoshop{

 margin: 1em;

}

#pagewraptekstworkshop{

 margin: 1em;

    
}
#pagewraptekstfn{

 margin: 1em;

}

#pagewrapteksthackathon{

 margin: 1em;

}

#pagewraptekstportfolio{

 margin: 1em;

}

#pagewrapophavsret{
    
 margin: 1em;   
    
}

#pagewraptekstpage{

 margin: 1em;

}


#pagewraptekstfn{

 margin: 1em;

}


#pagewraptekstproduktion{
    
  margin: 1em;   
    
}

#pagewraptekstpage{
    
    
 margin: 1em;    
    
}


/* PAGEWRAP SLUTTER */
